:root {
    --clr-text: #090C10;
    --clr-background: #DDE2E9;
    --clr-primary: #3A5582;
    --clr-secondary: #8db0e7;
    --clr-accent: #5b98fb;

    --header-border-clr: #0000002f;

    --nav-underline-padding: .5em;
    --nav-underline-clr: #8dafe780;
    --nav-list-shadow: #bcd0f0;

    --offer-underline-title-clr: #3a548262;
    --offer-box-clr: #3a55820d;
}

body {
    background-color: var(--clr-background);
    font-family: 'Poppins', sans-serif;
    margin: 0px 50px;
}

#header-container {
    height: 100vh;
}

/* -------------------------------------------------------------------------- */
/*                               Header Section                               */
/* -------------------------------------------------------------------------- */

header {
    border-bottom: 0.12em solid var(--header-border-clr);
    display: flex;
}

header>* {
    flex-grow: 1;
}

header a {
    color: var(--clr-text);
    text-decoration: none;
}

header #logo {
    margin: auto;
    padding: 0px 50px;

    font-size: 30px;
    font-weight: 600;
    font-style: italic;

    background: -webkit-linear-gradient(left var(--clr-primary), var(--clr-secondary), var(--clr-primary));
    background: -o-linear-gradient(right, var(--clr-primary), var(--clr-secondary), var(--clr-primary));
    background: -moz-linear-gradient(right, var(--clr-primary), var(--clr-secondary), var(--clr-primary));
    background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary), var(--clr-primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header #logo span {
    margin: 0;
}

header #nav-menu {
    padding: 20px 50px;
    margin: 0;

    font-size: 18px;
    list-style: none;

    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

header #nav-menu a {
    position: relative;
    display: inline-block;
    padding: 0px var(--nav-underline-padding);
    text-decoration: none;
}

header #nav-menu a:hover {
    text-shadow: 5px 5px 8px var(--nav-list-shadow);
}

header #nav-menu a:after {
    position: absolute;
    left: 0px;
    background-color: var(--nav-underline-clr);
    content: '';
    display: block;
    height: .2em;
    margin-top: .2em;
    transition: width .5s;
    width: 0;
}

header #nav-menu a:hover:after {
    width: 100%;
}

@media all and (max-width: 730px) {
    header {
        flex-direction: column;
        padding-top: 20px;
    }

    header #nav-menu {
        justify-content: center;
    }
}

/* -------------------------------------------------------------------------- */
/*                             Hero Image Section                             */
/* -------------------------------------------------------------------------- */

#hero-image {
    height: 80vh;

    display: flex;
    justify-content: center;
}

#hero-image img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#hero-image #center {
    display: flex;
    position: relative;
    max-width: 470px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-image #center>* {
    margin: 0;
}

#background-bluesplash-img {
    position: absolute;
    height: 100%;
    z-index: -1;
}

#hero-image #center h1 {
    font-size: 2.8em;
    text-align: center;
    min-width: 300px;
    max-width: 450px;
}

#hero-image #center p {
    padding-top: 20px;
    max-width: 400px;
    text-align: center;
}

#scrible-wrapper {
    position: absolute;
    right: 0px;
    width: 100vw;
    height: 89.8%;
    overflow: hidden;
}

#background-scrible-img {
    position: absolute;
    height: 100%;
    right: -50px;
    bottom: -50px;
    z-index: -2;
}

/* -------------------------------------------------------------------------- */
/*                                Offer Section                               */
/* -------------------------------------------------------------------------- */

#offer-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#offer-section h1 {
    padding-bottom: .2em;

    font-size: 2.3em;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-color: var(--offer-underline-title-clr);
}

#offer-section #box-container {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#offer-section .box {
    background-color: var(--offer-box-clr);
    width: 200px;
    padding: 20px;

    border-radius: 20px;

    text-align: center;
}

#offer-section .box h3 {
    text-decoration-line: underline;
    text-decoration-color: var(--clr-secondary);
    text-decoration-thickness: 3px;
}